a:link, a:visited {
    text-decoration:none;
    color: white;
}
.clearfix a{
    cursor: pointer !important;
}

#user_name{
    padding-left: 1em;
    padding-top: 0.2em;
}

#u12348{
    opacity: 1 !important;
}

.user-info{
    margin-top: 2em;
}
.container{
    padding: 1em 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.box-info{
    border: 1px solid #ececec;
    border-radius: 5px;
}
.box-info h1 {
    width: 100%;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    font-size: 16px;
    background: #5e5e5e;
    color: #fff;
    margin: 0 0 0 0;
    padding: 0 0 0 15px;
    border-radius: 5px;
}
.lines > div {
    padding: 0 15px;
    box-sizing: border-box;
    display: table;
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-family: OpenSansRegular, Arial;
    font-size: 14px;
    border-top: 1px solid rgba(0,0,0,0.2);
}
.lines > div span {
    float: right;
    font-family: OpenSansSemibold, Arial;
    font-weight: bold;
}
.lines > div.two {
    background: rgba(0,0,0,0.05);
}

.chars-container{
    padding: 2em 1em;
    display: grid;
    grid-template-rows: 20px 1fr;
    grid-gap: 20px;
}
.row{
    text-align: center;
}
.name-character{
    width: 20em;
}
#make-donation, #history-donation,#transfer-donation,#changePass,#changeMail,#topPvp,#topPk,#topClan,#bossJewells{
    display: none;
}
#u12374,#u12377-4,#u12410-3{
    cursor: pointer;
}
.option-panel{
    padding:1em;
}
.subtitle{
    font-weight: 500 ;
    font-size: x-large ;
    text-align: center;
    padding-top: 1.5em;
    margin-bottom: 2em;
}
.amount-to-transfer{
    border: 1px solid black;
    border-radius: 2px;
}
.transfer-btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #4CAF50;
}

#topList {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#topList th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(53, 34, 34);
    color: white;
    padding-left: 1rem;
}
#topList td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#topList tr:nth-child(even){background-color: #f2f2f2;}
  
#topList tr:hover {background-color: #ddd;}